body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

img {
  max-width: 100%;
  height: auto;
}

h1 {
  text-align: center;
}

.loader,
.error {
  display: none;
  text-align: center;
  margin-bottom: 20px;
}

.breed-select {
  width: 100%;
  padding: 10px;
  font-size: 16px;
}

.cat-info {
  display: none;
  margin-top: 20px;
}

.cat-image img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.cat-details {
  margin-top: 10px;
}

.cat-details h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

.cat-details p {
  font-size: 16px;
  line-height: 1.5;
}
